{% extends 'base.html' %}
{% block title %}
<title>500 – Server Error</title>
{% endblock title %}

{% block content %}
<div class="col-md-10 col-lg-8">
   <section id="title">
      <div class="container-fluid pb-4 pb-lg-5">
         <h1>500 – Internal Server Error</h1>
         <p class="subtext">Oops! Something went wrong.</p>
         <p class="subtext" style="padding: 3rem 0;">
            <a href="https://www.dixongrossnickle.com">www.dixongrossnickle.com</a>
         </p>
      </div>
   </section>
</div>
{% endblock content %}